/*
1. Positioning
2. Box model
3. Typography
4. Visuals
5. Others
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    /* Fonts */
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --light: 300;
    --semi-light: 400;
    --medium: 500;
    --big: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadows */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../styles/assets/icons/arrow-bottom.svg);
}
maing {
    width: 100%;
    height:auto;
    background-color:var(--off-white);
}
.main-exchange-container{
    width:100%;
    height: auto;
    padding-top:80px;
    padding-bottom:30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width:288px;
    max-width: 900px;
    margin:0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-bottom:50px;
    background-image: url('../styles/assets/img/bitcoin.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 38px;
    font-size:2.4rem;
    font-weight:bold;
    line-height: 2.6rem;
    color:var(--warm-black);
}
.main-exchange-container {
    margin-bottom:30px;
    font-size:1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color:#757575;
}